@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}
table tr {
  background-color: green /* 8px */;
}
.disabledPlayer {
  background: rgba(60, 59, 59, 0.852);
}
.pickedPlayer {
  background: rgba(5, 7, 5, 0.852);
}

#stats {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

#gold {
  background: rgb(252, 190, 68);
  background: linear-gradient(
    130deg,
    rgba(252, 190, 68, 1) 26%,
    rgba(149, 117, 56, 1) 100%
  );
}
#silver {
  background: rgb(205, 205, 205);
  background: linear-gradient(
    130deg,
    rgba(205, 205, 205, 1) 23%,
    rgba(125, 125, 125, 1) 100%
  );
}
#bronze {
  background: linear-gradient(130deg, rgb(104, 70, 4) 8%, rgb(102, 84, 30) 91%);
}

.createModal {
  background-color: rgba(0, 0, 0, 0.676);
}

#stats {
  background-color: rgba(0, 0, 0, 0.676);
}
